/*  your css code here. If applicable */
.hero{
	height: 100vh;
	display:flex;
	justify-content:center;
	allign-items:center;
	flex-direction:column;
	text-align:center;
	object-fit:cover;
}
.button{
	background-color: #ff4757;
	color: white;
	padding:5px;
	border-radius:5px;
}